:root {
  /* fine tune according to the amount of content in the center toolbar spot */
  --adjust-center-item-spacing: 58px;
  --articleOne: hsl(122deg 51% 69%);
  --articleTwo: hsl(174deg 51% 69%);
  --articleThree: hsl(222deg 51% 69%);
}
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  position: relative;
  margin: auto;
  max-width: 80ch;
}

article {
  padding: 3vw;
  margin-bottom: 2rem;
}

button {
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}

button:nth-child(1) {
  background-color: var(--articleOne);
}
button:nth-child(2) {
  background-color: var(--articleTwo);
}

button:nth-child(3) {
  background-color: var(--articleThree);
}

h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 120vh; /* for demonstration purposes */
}

p {
  font-size: 1rem;
  line-height: 1.4em;
}

article:nth-child(1) > h1 {
  position: relative;
  left: 9%;
}
article:nth-child(2) > h1 {
  position: relative;
  left: calc(50% - 3ch);
}

article:nth-child(3) > h1 {
  position: relative;
  left: calc(100% - 7ch);
}

article:nth-child(1) {
  background-color: var(--articleOne);
}
article:nth-child(2) {
  background-color: var(--articleTwo);
}

article:nth-child(3) {
  background-color: var(--articleThree);
}

.dynamicFooter {
  position: fixed;
  bottom: 0;
  display: grid;
  width: min(80ch, 100vw);
  grid-template-columns: repeat(3, 1fr);
}
