:root {
  /* fine tune according to the amount of content in the center toolbar spot */
  --adjust-center-item-spacing: 58px;
  --clr-primary: hsl(210deg 100% 54%);
  --clr-secondary: hsl(210deg 100% 89%);
}
* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2em;
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 120vh; /* for demonstration purposes */
}

p {
  font-size: 1rem;
  line-height: 1.4em;
}

article {
  padding: 3vw;
  margin-bottom: 2rem;
}

.container {
  position: relative;
  margin: auto;
  max-width: 80ch;
}

.toolbar {
  position: fixed;
  display: grid;
  bottom: 0;
  height: 2.5em;
  width: 100%;
}

.toolbar--threeItems {
  grid-template-columns: 1fr 1.3fr 1fr;
}

.toolbar--twoItems {
  grid-template-columns: repeat(2, 1fr);
}

.toolbar__child--main {
  background-color: var(--clr-primary);
}

.toolbar__child--secondary {
  background-color: var(--clr-secondary);
}

.fancyHeader--inToolbar {
  z-index: 1;
  position: fixed;
  top: 95vh;
}

.fancyHeader--left {
  left: 2vw;
}
.fancyHeader--center {
  color: white;
  left: calc(50% - var(--adjust-center-item-spacing));
}

.fancyHeader--right {
  right: 2vw;
}
